@model BookStroe.Models.BookType

@{
    ViewData["Title"] = "BookTypeById";
}

<h1>BookTypeById</h1>

<div>
    <h4>BookType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="EditBookType" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-dark" asp-action="AllBookType">Back to List</a>
</div>
