
@{
    Layout = "_Layout";
}


<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore</h1>
        <p class="lead text-muted">
            Book is the best friend of a man. Read book, keep mind sound. 
        </p>
        <p>
            <a href="#" class="btn btn-primary my-1">Search Book</a>
            <h1>@ViewData["sort"]</h1>
        </p>
    </div>
</section>
@await Component.InvokeAsync("TopBooks")

